<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
  <form action="/madlib">
    <h1>Please enter your info:</h1>
    Person: <input type="text" name="person"><br>
    Noun: <input type="text" name="noun"><br>
    Adjective: <input type="text" name="adjective"><br>
    Color: <select name="color">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
      </select>
      <input type="submit" value="Submit">
  </form>
</body>
</html>